.background-color-dashboard {
  /* background-color:  #F7F7F8; */
  background-color:  #F7F7F8;

}
.chart-lineal{
  background-color: #fff;
    border-radius: 15px;
}


.chart-lineal-title{
  padding: 1rem 1.5rem;
}

.chart-lineal-title-text{
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
}

.chart-sector-style{
  /* margin: 0.5rem; */
  background-color: #fff;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  /* padding: 0.5rem */
}

.chart-sector-style-title{
  padding: 0.5rem 1.5rem;
}

.chart-sector-style-title-text{
  font-size: 1.2rem;
  font-weight: 500;
  width: 11.25rem;
  margin: 0.5rem 0;
  line-height: 1.2;
}

.title-container{
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
}

.content-list-constructor{
   max-height: 500px;
   overflow-y: auto;
}

.title-container-title{
  font-size: 1.2rem;
  font-weight: 600;
  width: 166px;
}

.content-list-constructor-table{
  border-collapse: collapse;
  width: 100%;
}


@media (min-width: 576px) { 
  .content-list-constructor{
    max-height: 200px;
    overflow-y: auto;
 }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .content-list-constructor{
    max-height: 450px;
    overflow-y: auto;
 }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }


.app-title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 1.5rem 0.8rem;
}