.background-color-dashboard {
  background-color: #F7F7F8;
}

.background-color-component {
  background-color: #fff;
}

.chart-lienal{
    margin: 0.5rem;
    background: #fff;
    border-radius: 15px;
    padding: 1rem;

}

.chart-lineal-title{
  padding: 1rem 1.5rem;
}

.chart-lineal-title-text{
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
}

.chart-sector-style{
  margin: 0.5rem;
  background-color: #fff;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  padding: 0.5rem
}

.chart-sector-style-title{
  padding: 0.5rem 1.5rem;
}

.chart-sector-style-title-text{
  font-size: 1.2rem;
  font-weight: 500;
  width: 11.25rem;
  margin: 0.5rem 0;
  line-height: 1.2;
}

.app-title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 1.5rem 0.8rem;
}